html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body{
    margin: 0;
}

.app-container{
    background: url(../image/pexels-pixabay-207142.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: fixed;
}

.start-page {
    position: relative;
    width: fit-content;
    background-color: rgb(64, 66, 114);
    margin: auto;
    margin-top: 20vh;
    padding: 30px;
    text-align: center;
    border-radius: 8%;
    border-width: 1vh;

    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5vh;
}

.button-start{
    background-color: rgb(151, 149, 149);
    font-size: 6vh;
    font-weight: bolder;
    border-radius: 10%;
    cursor: pointer;
}

.button-container-start {
    position: relative;
}

.breakout-text{
    position: relative;
    font-style: italic;
    padding: 3vh;
    border-radius: 8%;
    background-color: rgba(46, 161, 61, 0.361);
    color: rgb(255, 251, 0);
    font-size: 10vh;
    font-family: fantasy;
    letter-spacing: 2vh;
}

.single-brick{
    display: flex;
    font-family: fantasy;
    justify-content: center;
    align-items: center;
    z-index: 10;    
    position: fixed;
    color: rgb(10, 9, 9);
    border: 3px solid black;
    border-radius: 5%;
}

.paddle{
    border: 5px solid black;
}

.live-score{
    z-index: 11;
    top: 0.5vh;
    left: 6.2vh;
    color: aliceblue;
    position: fixed; 
    background-color: rgb(65, 68, 70);
    border-radius: 20%;
    padding: 0.5vh;
    font-family: fantasy;
    letter-spacing: 0.5vh;
    font-size: 3vh;
}

.button-container-pause{
    position: fixed;
    top: 0.5vh;
    left: 92vw; 
    z-index: 11;
}

.button-pause{
    background-color: #8d8989;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-container-continue{
    position: fixed;
    margin: auto;
    z-index: 11;
    padding-top: 48vh;
    padding-left: 45vw;
    padding-bottom: 48vh;
    padding-right: 50vw;
    background-color: #000000a5;
}

.button-continue{
    background-color: #8d8989;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.highscores-container{
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 1vh;
    padding: 3vh;
    text-align: center;
    border-radius: 8%;
    border-width: 1vh;

    display: flex;
    height: 35vh;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    row-gap: 1vh;
}

.highscore-text{
    position: relative;
    padding: 1vh;
    border-radius: 8%;
    background-color: rgb(54, 147, 67);
    color: rgb(57, 56, 43);
    font-size: 5vh;
    font-family: fantasy;
}

.highscore{
    position: relative;
    padding: 1vh;
    border-radius: 8%;
    background-color: rgb(26, 53, 159);
    color: rgba(255, 225, 0, 0.893);
    font-size: 2vh;
    font-family: fantasy;
    letter-spacing: 0.5vh;
}
